@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'VT323', monospace;
    font-size: 32px;
    letter-spacing: 3px;
    color: #3b3b3b;

    --bg-body-color: linear-gradient(90deg, #E2A1A8, #ECC9A5, #F3E5A8, #E4FAAB, #C4FFB5);
    --bg-main-color: #ffffff;
    --shadow-color: #E2A1A822;
    --button-color: var(--gray0);
    --button-border: var(--gray1);
    --dashed-lines: var(--gray0);
    --grid: var(--gray0);
    --circle-border: var(--gray1);
    --svg-color: invert(20%) sepia(0%) saturate(0%) hue-rotate(72deg) brightness(101%) contrast(92%);
    --link-color: var(--bg-body-color);
    --button-on: #afffba;
    --button-on-border: #68ff7c;
    --button-on-text: white;

    --vh: 100vh;

    --scrollbar-track-horizontal: linear-gradient(90deg, white, var(--gray1), white);
    --scrollbar-track-vertical: linear-gradient(white, var(--gray1), white);
    --scrollbar-thumb0: var(--gray1);
    --scrollbar-thumb1: var(--gray2);
    --scrollbar-thumb2: var(--gray3);

    --gray0: #ebebeb;
    --gray1: #bebebe;
    --gray2: #686868;
    --gray3: #3d3d3d;

    --seafoam0: #d7dae5;
    --seafoam1: #b9cdda;
    --seafoam2: #a6d8d4;
    --seafoam3: #8eaf9d;
    --seafoam4: #6b7d7d;

    --terracotta0: #ffcdb2;
    --terracotta1: #ffb4a2;
    --terracotta2: #e5989b;
    --terracotta3: #b5838d;
    --terracotta4: #6d6875;

    --dark0: #324a5f;
    --dark1: #1b2a41;
    --dark2: #0c1821;
    --dark3: #000000;

    --light0: #fbfbf2;
    --light1: #e5e6e4;
    --light2: #cfd2cd;
    --light3: #a6a2a2;
    --light4: #847577;
}

.dark {
    color: #ebebeb;

    --bg-body-color: linear-gradient(90deg, var(--dark1), var(--dark2), var(--dark3), var(--dark2), var(--dark1));
    --bg-main-color: var(--dark0);
    --shadow-color: var(--dark2);
    --button-color: var(--dark1);
    --button-border: var(--dark2);
    --dashed-lines: var(--dark1);
    --grid: var(--dark1);
    --circle-border: var(--dark2);
    --svg-color: invert(8%) sepia(9%) saturate(3083%) hue-rotate(164deg) brightness(94%) contrast(97%);
    --link-color: var(--bg-body-color);

    --scrollbar-track-horizontal: linear-gradient(90deg, var(--dark0),  var(--dark2), var(--dark0));
    --scrollbar-track-vertical: linear-gradient(var(--dark0),  var(--dark2), var(--dark0));
    --scrollbar-thumb0: var(--dark1);
    --scrollbar-thumb1: var(--dark2);
    --scrollbar-thumb2: var(--dark3);
}

.light {
    color: var(--light3);

    --bg-body-color: linear-gradient(90deg, var(--light0), var(--light4), var(--light0));
    --bg-main-color: var(--light1);
    --shadow-color: var(--light3);
    --button-color: var(--light2);
    --button-border: var(--light3);
    --dashed-lines: var(--light2);
    --grid: var(--light2);
    --circle-border: var(--gray1);
    --svg-color: invert(96%) sepia(0%) saturate(192%) hue-rotate(141deg) brightness(80%) contrast(91%);
    --link-color:  linear-gradient(90deg, var(--light3), var(--light4), var(--light3));

    --scrollbar-track-horizontal: linear-gradient(90deg, var(--light1), var(--light3), var(--light1));
    --scrollbar-track-vertical: linear-gradient(var(--light1), var(--light3), var(--light1));
    --scrollbar-thumb0: var(--light2);
    --scrollbar-thumb1: var(--light3);
    --scrollbar-thumb2: var(--light4);
}

.seafoam {
    color: var(--seafoam1);

    --bg-body-color: linear-gradient(90deg, var(--seafoam1), var(--seafoam2), var(--seafoam4), var(--seafoam2), var(--seafoam1));
    --bg-main-color: var(--gray0);
    --shadow-color: var(--gray0);
    --button-color: var(--seafoam0);
    --button-border: var(--gray1);
    --dashed-lines: var(--seafoam0);
    --grid: var(--seafoam0);
    --circle-border: var(--seafoam1);
    --svg-color: invert(92%) sepia(5%) saturate(1059%) hue-rotate(172deg) brightness(89%) contrast(91%);
    --link-color: var(--bg-body-color);

    --scrollbar-track-horizontal: linear-gradient(90deg, var(--gray0), var(--seafoam2), var(--gray0));
    --scrollbar-track-vertical: linear-gradient(var(--gray0), var(--seafoam2), var(--gray0));
    --scrollbar-thumb0: var(--seafoam2);
    --scrollbar-thumb1: var(--seafoam3);
    --scrollbar-thumb2: var(--seafoam4);
}

.terracotta {
    color: var(--terracotta2);

    --bg-body-color: linear-gradient(90deg, var(--terracotta0), var(--terracotta2), var(--terracotta4), var(--terracotta2), var(--terracotta0));
    --bg-main-color: var(--light1);
    --shadow-color: var(--terracotta3);
    --button-color: var(--gray0);
    --button-border: var(--terracotta2);
    --dashed-lines: var(--light2);
    --grid: var(--light2);
    --circle-border: var(--terracotta2);
    --svg-color: invert(74%) sepia(7%) saturate(1966%) hue-rotate(309deg) brightness(89%) contrast(102%);
    --link-color: var(--bg-body-color);

    --scrollbar-track-horizontal: linear-gradient(90deg, var(--light1), var(--terracotta3), var(--light1));
    --scrollbar-track-vertical: linear-gradient(var(--light1), var(--terracotta3), var(--light1));
    --scrollbar-thumb0: var(--terracotta2);
    --scrollbar-thumb1: var(--terracotta3);
    --scrollbar-thumb2: var(--terracotta4);
}

body {
    display: flex;
    justify-content: center;

    background: var(--bg-body-color);

    overflow: hidden;
}

button {
    font-family: 'VT323', monospace;
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--text-color);

    background-color: var(--button-color);

    padding: 5px;

    border: 2px solid var(--button-border);
    border-radius: 10px;

    transition: .15s;
}

button:hover {
    padding: 6px;
}

button:active {
    padding: 4px;
}

.easel {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 90px;
    top: 40px;

    box-shadow:  0px 0px 10px 5px var(--shadow-color);

    border-radius: 20px;

    width: 350px;
    height: 900px;

    background-color: var(--bg-main-color);

    translate: -500px;

    transition: .3s;
    transition-timing-function: ease-out;
}

    .color-picker {
        position: absolute;
        top: 162px;
        left: 43px;

        height: 50px;
        width: 50px;

        opacity: 0;
    }

    .colors-container {
        display: flex;

        flex-wrap: wrap;

        width: 90%;
        padding: 10px;
        margin-bottom: 20px;

        overflow-y: scroll;
    }

    .colors-container::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .colors-container::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb0);

        border-radius: 10px;
    }

    .colors-container::-webkit-scrollbar-thumb:hover {
        background-color: var(--scrollbar-thumb1);
    }

    .colors-container::-webkit-scrollbar-thumb:active {
        background-color: var(--scrollbar-thumb2);
    }

    .colors-container::-webkit-scrollbar-track {
        background: var(--scrollbar-track-vertical);
    }

    .new-color-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 85px;
        height: 85px;
        margin: 5px;

        border: 2px solid var(--circle-border);
        border-radius: 50%;

        transition: .15s;
    }

    .plus-icon {
        width: 60%;
        height: 60%;

        filter: var(--svg-color);
    }

    .new-color {
        width: 85px;
        height: 85px;
        margin: 5px;

        border: 2px solid var(--gray1);
        border-radius: 50%;

        opacity: 0.5;

        transition: .15s;
    }

    .new-color:hover {
        opacity: 1;
    }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    background-color: var(--bg-main-color);
    box-shadow: 0px 0px 10px 5px var(--shadow-color);

    width: 850px;
    height: var(--vh);

    overflow-y: scroll;

    scroll-snap-type: y mandatory;
}

.main::-webkit-scrollbar {
    display: none;
}

    .tooltip-container {
        display: flex;
        align-items: center;
    }

    .tooltip-container.paint {
        position: absolute;
        bottom: 2vh;
        right: 0;
    }

    .tooltip-container.options {
        position: absolute;
        bottom: -6vh;
        right: 0;
    }

    .tooltip-container > p {
        font-size: 1rem;
    }

    .down-arrow {
        width: 30px;
        height: 30px;

        filter: var(--svg-color);
    }
    
    .up-arrow {
        width: 30px;
        height: 30px;
        transform: rotate(180deg);

        filter: var(--svg-color);
    }

    .paint-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 0 var(--vh);

    height: var(--vh);

    scroll-snap-align: start;
    }

        h1 {
        font-size: 2rem;
        }

        .grid {
        display: flex;
        flex-wrap: wrap;

        width: 800px;
        height: 800px;

        border: 2px solid var(--grid);
        border-radius: 5px;
        }

            .pixel {
                border: 1px dashed var(--dashed-lines);
            }

        .main-buttons {
            display: flex;
            justify-content: space-around;

            width: 40%;
        }

    .options-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 0 var(--vh);
    gap: 2vh;

    width: 90%;
    height: var(--vh);

    scroll-snap-align: end;
    }

        .options-header {
            display: flex;
        }

        h2 {
        font-size: 1.5rem;
        }

        p {
            font-size: 1.25rem;
        }

        .options-container {
            display: flex;
            flex-direction: column;
            gap: 20px;

            width: 100%;
        }

        .option {
            display: flex;
            justify-content: space-between;

            border-top: 2px dashed var(--dashed-lines);
            border-bottom: 2px dashed var(--dashed-lines);

            padding: 10px;
        }

        .grid-size-container {
            display: flex;
        }

            .grid-size-input {
                font-family: 'VT323', monospace;
                font-size: 1.25rem;
                letter-spacing: 3px;
                color: var(--text-color);

                background-color: var(--button-color);

                border: 2px solid var(--button-border);
                border-radius: 10px;

                height: 44px;
                width: 44px;
            }

        .rainbow-button, .grayscale-button, .reactive-button {
            width: 100px;
        }

        .rainbow-button.on, .grayscale-button.on, .reactive-button.on {
            background-color: var(--button-on);
            border-color: var(--button-on-border);
            color: var(--button-on-text);
        }

        .option.color-schemes {
            display: flex;
            flex-direction: column;
        }
            .color-schemes-container {
                display: flex;
                gap: 20px;

                padding: 20px 20px 20px 20px;

                overflow-x: scroll;
            }

            .color-schemes-container::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            .color-schemes-container::-webkit-scrollbar-thumb {
                background-color: var(--scrollbar-thumb0);

                border-radius: 10px;
            }

            .color-schemes-container::-webkit-scrollbar-thumb:hover {
                background-color: var(--scrollbar-thumb1);
            }

            .color-schemes-container::-webkit-scrollbar-thumb:active {
                background-color: var(--scrollbar-thumb2);
            }

            .color-schemes-container::-webkit-scrollbar-track {
                background: var(--scrollbar-track-horizontal);
            }

                .color-scheme-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-shrink: 0;

                    height: 280px;
                    width: 200px;

                    border-radius: 20px;

                    opacity: 0.8;
                    box-shadow: 0px 0px 5px 3px #bebebe33;
                    
                    transition: .15s;
                }

                .color-scheme-card:hover {
                    opacity: 1;
                }

                    .preview {
                        width: 180px;
                        height: 180px;
                        margin: 10px;
                        
                        border-radius: 20px;
                        border: 2px solid var(--gray1);
                    }

                    .color-scheme-label {
                        font-size: 1rem;
                    }

                    .preview-dark {
                        background: linear-gradient(var(--gray2), var(--gray3));
                    }

                    .preview-light {
                        background: linear-gradient(var(--light0), var(--light1), var(--light2), var(--light3), var(--light4))
                    }

                    .preview-seafoam {
                        background: linear-gradient(var(--seafoam0), var(--seafoam1), var(--seafoam2), var(--seafoam3), var(--seafoam4))
                    }

                    .preview-terracotta {
                        background: linear-gradient(var(--terracotta0), var(--terracotta1), var(--terracotta2), var(--terracotta3), var(--terracotta4));
                    }

                    .preview-default {
                        background: linear-gradient(#E2A1A8, #ECC9A5, #F3E5A8, #E4FAAB, #C4FFB5);
                    }
        a {
            align-self: center;

            padding: 20px;

            font-size: 1.25rem;
            letter-spacing: 4px;
            text-decoration: none;

            background: var(--link-color);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            transition: .15s;
        }

        a:hover {
            font-size: 1.4rem;
        }

        a:active {
            font-size: 1.25rem;
        }
