@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'VT323', monospace;
    letter-spacing: 3px;
}

body {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'VT323', monospace;
    font-size: 32px;
    letter-spacing: 3px;

    padding: 5px;

    border: 2px solid #bebebe;
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 5px 5px #bebebe33;

    width: 850px;
}

    .paint-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

        h1 {
        font-size: 64px;
        }

        .grid {
        width: 800px;
        height: 800px;
        border: 2px solid #ebebeb;
        }

    .options-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    }
        h2 {
        font-size: 52px;
        }

        p {
            font-size: 44px;
        }

        .options-container {
            width: 100%;
        }

        .option {
            display: flex;
            justify-content: space-between;
        }

        .grid-size-container {
            display: flex;
        }

            .grid-size-input {
                font-family: 'VT323', monospace;
                font-size: 44px;
                letter-spacing: 3px;

                border: 2px solid #bebebe;
                border-radius: 10px;

                height: 44px;
                width: 44px;
            }

        .option.color-schemes {
            display: flex;
            flex-direction: column;
        }
            .color-schemes-container {
                display: flex;
                gap: 20px;

                padding: 20px 20px 20px 20px;

                overflow-x: scroll;
            }

            .color-schemes-container::-webkit-scrollbar {
                width: 10px;
                height: 10px;
            }

            .color-schemes-container::-webkit-scrollbar-thumb {
                background-color: #bebebe;

                border-radius: 10px;
            }

            .color-schemes-container::-webkit-scrollbar-thumb:hover {
                background-color: #686868;
            }

            .color-schemes-container::-webkit-scrollbar-thumb:active {
                background-color: #3d3d3d;
            }

            .color-schemes-container::-webkit-scrollbar-track {
                background: linear-gradient(90deg, white, black, white)
            }

                .color-scheme-card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-shrink: 0;

                    height: 280px;
                    width: 200px;

                    border-radius: 20px;

                    box-shadow: 0px 0px 5px 3px #bebebe33;
                }

                    .preview {
                        width: 180px;
                        height: 180px;
                        margin: 10px;
                        
                        border-radius: 20px;
                        border: 2px solid #ebebeb;
                    }

                    .color-scheme-label {
                        font-size: 36px;
                    }
        a {
            align-self: center;

            padding: 20px;

            font-size: 42px;
            letter-spacing: 4px;
            text-decoration: none;
        }